@font-face {
    font-family: "Furore";
    src: url(../res/furore.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    line-height: 1.6;
    overflow-x: hidden;
}

nav {
    height: 10vh;
    background: black;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li {
    color: #fff;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.container {
    font-family: furore;
    padding-top: 3em;
}

.maincontent {
    background: black;
}

#home img {
    width: 110%;
    height: auto;
    padding-bottom: 6%;
}

li a:hover {
    text-shadow: 0px 0px 30px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;

}

section h1 {
    font-size: 4rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

section p {
    font-size: 1.2rem;
    text-align: center;
}

#footer {
    text-align: center;
    color: white;
    background: black;
    font: 10px;
}

#home {
    background-color: black;
}

#about {
    background-color: black;
}

#about p {
    margin-left: 5em;
    margin-right: 5em;
}

#events {
    background-color: orange;
}

#sponsors{
	background-color: red;
}

#contact a {
    font-size: 4rem;
    color: white;
    text-decoration: none;
}

#contact a:hover {
    text-shadow: 0px 0px 30px white;
    transition: all 0.2s ease-in;
}

.topbar {
    text-align: right;
    list-style: none;
    background: black;
}

.topbar ul li {
    margin: 0px;
    padding: 10px 5px 10px 18px;
    display: block;
    float: right;
    color: white;
    font-size: 16px;
    border-right: 1px solid;
    font-weight: 500;
}

.promoimage {
    width: 30%;
    height: auto;
    border: 6px solid white;
}

.promodes {
    color: white;
    padding-left: 10em;
    padding-right: 10em;
}


/*Smartphone Media Formatting*/
@media screen and (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        font-family: furore;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .landing {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    #home img {
        display: block;
        padding-bottom: 18em;
    }

    .promoimage {
        width: 95%;
        height: auto;
        text-align: center;
        border: solid;
        border-width: 3px;
        border-color: white;
    }

    /*Exit Animation Style*/
    .line1,
    .line2,
    .line3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .line1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .line2 {
        opacity: 0;
    }

    .change .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}