* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color:black;
font-family: 'Roboto Mono', monospace;
}


.buttons{
    padding-top: 30em;
}


.contactbutton {
	box-shadow:inset 0px -3px 7px 0px #0e2733;
	background:linear-gradient(to bottom, #198ed1 5%, #0c151c 100%);
	background-color:#198ed1;
	border-radius:3px;
	border:1px solid #000000;
	display:block;
	cursor:pointer;
	color:white;
	font-size:15px;
	padding:100px 200px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    padding-top: 10em;
}
.contactbutton:hover {
	background:linear-gradient(to bottom, #0c151c 5%, #198ed1 100%);
	background-color:#0c151c;
}
.:active {
	position:relative;
	top:1px;
}

#footer {
    text-align: center;
    color: white;
    font: 10px;
	margin-top: 80em;
}

div{
text-align: center;}

